{{ define "main" }}

{{ partial "marketing/hero-left.html" . }}
{{ partial "marketing/featured-items.html" . }}
{{ $projects := partial "projects-data.html" . }}
<!-- <div class="grid grid-cols-3 gap-4">
    {{- range $projects -}}{{- if eq .status "1" -}}
    <div class="max-w-xs rounded overflow-hidden shadow-lg my-8">
        <img class="w-full" src="https://dummyimage.com/600x400/C8C7C8/fff" alt="Sunset in the mountains">
        <div class="px-6 py-4">
            <span class="text-xs text-gray-500">{{ .client }} · {{ .codename }}</span>
            <div class="font-bold text-xl mb-2">
                {{ .title }}
                {{ if .url }}<a class="float-right" target="_blank" href="{{ .url }}"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-4">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" />
                  </svg></a>{{ end }}
            </div>

            <p class="text-grey-darker text-base">
                {{ .description }}
            </p>
        </div>
        <div class="px-6 py-4">
            <span
                class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">#{{ .tech }}</span>
             <span
                class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2">#travel</span>
            <span
                class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker">#winter</span
        </div>
    </div>
    {{- end -}}{{- end -}}
</div> -->

{{ end }}

